* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fin de Fuentes */


/* Variables */
:root {
    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-raleway: 'Raleway', sans-serif;
    --fuente-playfair: 'Playfair Display', serif;
    --texto-card-color: #ce2b37;
    --texto-card-color-current: #ed1943;
    --texto-titulos-color: #333;
    --texto-titulos-color-white: #f8f8f8;
}
body{
    overflow-x: hidden;
}
/* Fin de Variables */
.texto-card-large{
    height: 450px;
}
.container-img-titulo {
    margin-top: 0px;
    width: 100vw;
    height: 95vh;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}
.container-img-titulo img {
    width: 100vw;
    height: 95vh;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

main h1{
    text-align: center;
}
main p {

    margin: auto auto;    
    width: 730px;    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 24px !important;

    
    letter-spacing: 0.0025em !important;
    
    color: #333333;

}


.containerbox{
    width: 730px;
height: 548px;
margin: auto auto;
background-image: url(/vieja/imagenes/cursos.JPG);
margin-top: 88px;
}