* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fin de Fuentes */


/* Variables */
:root {
    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-raleway: 'Raleway', sans-serif;
    --texto-card-color: #ce2b37;
    --texto-card-color-current: #ed1943;
    --texto-titulos-color: #333;
    --texto-titulos-color-white: #f8f8f8;
}
/* Fin de Variables */

/* Body */
body {
    margin: 0;
    font-family: var(--fuente-raleway);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
/*Fin de Body*/

.container-titulo-page{
    margin: auto;
}
.container-img-titulo {
    margin-top: 20px;
    width: 80vw;
    height: 400px;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}
.container-img-titulo img {
    width: 80vw;
    height: 400px;
    object-fit: cover;
}
.texto-titulo-card-large {
    position: absolute;
    width: 400px;
    top: 150px;
    left:10vw;
    color: var(--texto-titulos-color-white);
    text-shadow: 2px 2px 40px black;
}
.texto-titulo-card-large h1{
    line-height: 1;
}
.texto-titulo-card-large p{
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
}

.container-card-large{
    width: 65vw;
    min-height: 400px;
    margin-top: 100px
}
.texto-card-large{
    height: 400px;
    width: 400px;
    margin: auto;
    overflow: hidden;
    color: var(--texto-titulos-color);
}
.texto-card-large h1{
    line-height: 1;
}

.container-img-card-large{
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}
.container-img-card-large img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-etiquetas{
    display: flex;
    margin-bottom: 10px;
}
.container-etiquetas p{
    padding: 2px 20px;
    border-radius: 5px;
    color: var(--texto-titulos-color-white);
    margin: 5px;
    font-size: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container-etiquetas-titulo{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
}
.container-etiquetas-titulo p{
    padding: 2px 20px;
    border-radius: 5px;
    color: var(--texto-titulos-color-white);
    margin-right: 10px;
    font-size: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.etiqueta-amarillo{
    background-color: #FFB03B;
}
.etiqueta-rojo{
    background-color: #C20114;
}
.etiqueta-negro{
    background-color: #343A40;
}
.container-text-rb h1{
    margin-top: 24px;
}
.container-text-rb {
    width: 65vw;
}
.text-info-contain{
    margin-top: 24px;
    color: #333;
}
.text-more-info-contain{
    margin-top: 24px;
}
.text-history-contain{
    margin-top: 24px;
}
.elaborar-receta h2{
    margin-top: 48px;
}
.ingredientes-title{
    margin-top: 24px;
}
.para-ingredientes{
    margin-top: 24px;
    margin-bottom: -10px;
}
.ingredientes{
    list-style-image: url("../icons/016-column.svg");
}
.ingredientes-icon-2{
    list-style-image: url("../icons/030-grapes.svg");
}
.ingredientes li{
    line-height: 1;
    font-size: 42px;
}
.ingredientes li p{
    margin-top: 10px;
    margin-bottom: 0px;
}
.preparacion-receta{
    margin-top: 24px;
    margin-bottom: 24px;
}
.preparacion-receta h6{
    margin-top: 42px;
    margin-bottom: 12px;
}
.preparacion-receta p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.disfrutalo{
    margin-top: 14px;
}
.img-contain-article{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.img-contain-article img{
    width: 75%;
    margin: auto;
    object-fit: contain;
}
.img-contain-article-2{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.img-contain-article-2 img{
    width: auto;
    margin: auto;
    object-fit: contain;
    margin-bottom: 36px;
    margin-top: 18px;
}
@media screen and (max-width:991px) {
    .container-text-rb {
        width: 80vw;
    }
    .container-text-rb h1{
        font-size: 38px;
    }
    .img-contain-article img{
        width: 100%;
    }
    .img-contain-article-2 img{
        width: 100%;
        margin: auto;
        object-fit: contain;
        margin-bottom: 24px;
    }
}