* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Responsive */
/* Tablet horizontal */
@media only screen and (max-width: 1280px){

    .container-titulo-page h1{
   
        width: 350px;
        height: 132px;
        left: 38px;
        top: 250px;
        
        
    }
    .btn{
        top: 520px;
        left: 4vw;
    }
    .container-titulo-page p{
    width: 350px;
    height: 132px;
    left: 38px;
    top: 380px;
     }
    
}
@media only screen and (max-width: 1024px)
{
     /* TextoTitulo */
.container-titulo-page h1{
   
    width: 350px;
    height: 132px;
    left: 38px;
    top: 209px;
    
    
}
.btn{
    top: 495px;
    left: 4vw;
}
.container-titulo-page p{
width: 350px;
height: 132px;
left: 38px;
top: 357px;
 }

    /* Items */
    .text1{
margin-left: -150px;
    }
    .img1{
width: 400px;
margin-left: -68px;
    }
    .img2{
        width: 400px;
        margin-left: -150px;
    }
   
}
@media only screen and (max-width: 768px){

    .container-titulo-page h1{
   
        height: 132px;
        width: 350px;
        left: 39px;
        top: 610px;
        font-weight: 800 !important;
        font-size: 56px !important;
            
    }
  
    .container-titulo-page p{
        width: 350px;
        height: 132px;
        left: 39px;
        top: 758px;
     }
     .btn{
        top: 900px;
        left: 4vw;
    }
  /* Items 1 */
  .text1{
      margin-left: -165px;
  }
  .text1 h1 {
    font-size: 44px;

      }
  .text1 p{
      margin-top: -25px;
      font-size: 18px;

        }
        .img1{
            margin-left: 5px;
            height: 330px;
            width: 300px;
                    }
                    /* item 2 */

                    .text2 h1 {
                        font-size: 44px;
                        margin-top: -150px;
                        margin-left: -30px;
                          }
                      .text2 p{
                        margin-left: -30px;
                         margin-top: -55px;
                          font-size: 18px;
                    
                            }
                            .img2{
                                width: 300px;
                                height: 300px;
                            }
/* item 3 */

.text3{
    margin-left: -165px;
}
.text1 h1 {
  font-size: 44px;

    }
.text3 p{
    font-size: 18px;
    margin-top: -35px;

      }
      .img3{
          margin-left: 5px;
          height: 330px;
          width: 300px;
                  }
                        /* item 4 */

                        .text4 h1 {
                            margin-left: -20px;
                            font-size: 44px !important;
                        margin-top: -55px;
                              }
                          .text4 p{
                              margin-top: -35px;
                              font-size: 18px ;
                              margin-left: -25px;
                        
                                }
                                .img4{
                                    margin-left: -150px;
                                    width: 300px;
                                    height: 300px;
                                }
/* Item 5 */
.text5{
    margin-left: -165px;
}
.text5 h1 {
  font-size: 44px;

    }
.text5 p{
    font-size: 18px;
margin-top: -80px;
      }
      .img5{
          margin-left: 5px;
          height: 330px;
          width: 300px;
                  }
}