* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Fin de Fuentes */

/* Variables */
:root {
  --fuente-poppins: "Poppins", sans-serif;
  --fuente-raleway: "Raleway", sans-serif;
  --fuente-playfair: "Playfair Display", serif;
  --texto-card-color: #ce2b37;
  --texto-card-color-current: #ed1943;
  --texto-titulos-color: #333;
  --texto-titulos-color-white: #f8f8f8;
}
body {
  overflow-x: hidden;
}
/* Fin de Variables */



.container-img-header {
    margin-top: 0px;
    width: 100vw;
    height: 95vh;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.container-img-header img {
width: 100%;
height: 100%;
object-fit: cover;
}



/* Empieza el workshop y capacitaciones */


.workshoptext {
  padding-top: 88px;
  text-align: center;
  margin: auto auto;
  text-align: start;
  width: 540px;
}

.workshoptext h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;

  letter-spacing: 0.0015em;

  color: #333333;
}

.workshoptext p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  letter-spacing: 0.0025em;

  color: #333333;
}
/* Capacitaciones */
.capacitaciones {
  padding-top: 88px;
  margin: auto auto;
  text-align: center;
  width: 540px;
  text-align: start;
}
.capacitaciones h3{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;

  letter-spacing: 0.0015em;

  color: #333333;
}
.capacitaciones p{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  letter-spacing: 0.0025em;

  color: #333333;
  padding-top: 12px;
}
.botones {
  margin-left: -100px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  letter-spacing: 46px;
  height: 50px;
}

.card {  
  width: 350px !important;
  margin: auto auto;
  margin-top: 88px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.card h5 {
  width: 350px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #152536;
}

.card p {
  width: 312.68px;
  height: 72px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #68717a;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 48px 48px;
  grid-template-areas:
    ". . ."
    ". . .";
  margin-bottom: 46px;
  width: auto;
  margin: auto;
  align-items: center;
}
/* modals*/


.modal-content{

  border-radius: 13px 13px 0px 0px;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: 540px;
  height: 51px;
  left: 0px;
  top: 0px;
  background: #c20114;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.modal-header h5 {
  text-align: start;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #f8f8f8;
}

.modal-content{
  width: 540px;
}



.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: 540px;
  height: 71px;
  left: 0px;
  top: 469px;

  /* /Gray / White */

  background: #ffffff;
  /* Gray / 400 */

  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}

/* Responsive */

 @media screen and (max-width: 1920px) and (min-width: 1401px){

        }
@media screen and (max-width: 1400px) and (min-width: 1100px){
  .container-card-large {
    width: 85vw;
    min-height: 400px;
    margin-top: 35px;
    overflow: hidden;
  }
  .btn-mozzafiato-container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .capacitaciones{
    margin-top: 88px !important;
  }
  } 

@media (max-width: 1100px) and (min-width: 764px) {
    
  .texto-titulo-card-large {
    width: 300px;
  }
  .container-card-large {
    width: 99vw;
    min-height: 400px;
    margin-top: 35px;
    overflow: hidden;
  }
  .btn-mozzafiato-container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 48px 48px;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". ."
      ". ."
      ". .";
  }
}
@media (max-width: 764px) and (min-width: 576px) {
  .capacitaciones{
    margin-top: -180px !important;
  }
  .texto-titulo-card-large {
    width: 300px;
  }
  .container-card-large {
    width: 90vw;
    min-height: 400px;
    margin-top: 35px;
    overflow: hidden;
  }
  .btn-mozzafiato-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .texto-titulo-card-large {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    top: 0px;
    left: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-img-card-large {
    height: 350px;
  }
  .texto-card-large {
    height: 350px;
  }
  main {
    display: grid;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px 48px;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      ".";
  }
}

@media (max-width: 576px) and (min-width: 375px) {
  .texto-titulo-card-large {
    width: 300px;
  }
  .container-card-large {
    width: 98vw;
    min-height: 400px;
    margin-top: 35px;
    overflow: hidden;
  }
  .btn-mozzafiato-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .texto-titulo-card-large {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    top: 0px;
    left: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-img-card-large {
    height: 250px;
  }
  .texto-card-large {
    height: 400px;
  }
  .workshoptext h3{ 
    width: 30%;

  }
  .workshoptext p{ 
    width: 90vw;

  }
  .capacitaciones{
    margin-top: -180px;
  }
  .capacitaciones h3 {
    width: 30%;
   }
   .capacitaciones p {
     width: 90vw;
   }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px 48px;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      ".";
  }
}

@media (max-width: 375px) and (min-width: 0px) {



}

@media screen and (max-width: 1400px) and (min-width: 1100px) {

}



/* Fin responsive  */
