* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fin de Fuentes */


/* Variables */
:root {
    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-raleway: 'Raleway', sans-serif;
    --fuente-playfair: 'Playfair Display', serif;
    --texto-card-color: #ce2b37;
    --texto-card-color-current: #ed1943;
    --texto-titulos-color: #333;
    --texto-titulos-color-white: #f8f8f8;
}
/* Fin de Variables */
.texto-card-large{
    height: 450px;
}
.container-img-titulo img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.container-card-large{
    min-height: 450px;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container-img-card-large{
    height: 450px;
}
.texto-titulo-card-large {
    color: #333;
    text-shadow: 2px 2px 200px black;
    top: 70px;
    left:10vw;
}
.texto-card-large{
    width: 90%;
}
.btn-escribinos{
    padding: 6px 14px;
    background-color: #D92109;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--texto-titulos-color-white);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btn-escribinos:hover{
    color: var(--texto-titulos-color-white);
    background-color: #C20114;
}
.btn-contactar{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: #279D61;
    text-decoration: none;
    color: var(--texto-titulos-color-white);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btn-escribinos i img{
    height: 18px;
    width: 18px;
    margin-bottom: 2px;
    margin-right: 10px;
}
.btn-contactar i img{
    height: 18px;
    width: 18px;
    margin-bottom: 3px;
    margin-right: 10px;
}
.btn-contactar:hover{
    color: var(--texto-titulos-color-white);
    background-color: #468966;
}
.btn-mozzafiato-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.row {
    --bs-gutter-x:0;
}
@media screen and (max-width: 1400px) and (min-width: 1100px){
.container-card-large {
    width: 80vw;
    min-height: 400px;
    margin-top: 35px;
    overflow: hidden;
}
}