* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fin de Fuentes */


/* Variables */
:root {
    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-raleway: 'Raleway', sans-serif;
    --fuente-playfair: 'Playfair Display', serif;
    --texto-card-color: #ce2b37;
    --texto-card-color-current: #ed1943;
    --texto-titulos-color: #333;
    --texto-titulos-color-white: #f8f8f8;
}
/* Fin de Variables */

/* Body */
body {
    margin: 0;
    font-family: var(--fuente-raleway);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
/*Fin de Body*/
/* Tipografias */
h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: var(--fuente-poppins);
}
.enfasis {
    font-size: 52px;
    font-family: var(--fuente-playfair);
    font-weight: 900;
    font-style: italic;
}
h2 {
    font-family: var(--fuente-poppins);
    font-weight: 800;
    font-size: 52px;
}
h3{
    font-size: 48px;
    font-family: var(--fuente-poppins);
    font-weight: 700;
}
h4 {
    font-size: 40px;
    font-family: var(--fuente-poppins);
    font-weight: 600;
}
h5 {
    font-size: 36px;
    font-family: var(--fuente-poppins);
    font-weight: 600;
}
h6{
    font-size: 32px;
    font-family: var(--fuente-poppins);
    font-weight: 500;
}
.destacado {
    font-family: var(--fuente-raleway);
    font-size: 20px;
    font-weight: 500;
}
p {
    font-family: var(--fuente-raleway);
    font-size: 18px;
    font-weight: 400;
}
.body {
    font-family: var(--fuente-raleway);
    font-size: 20px;
    font-weight: 400;
}
button {
    font-family: var(--fuente-raleway);
    font-size: 18px;
    font-weight: 600;
}
.btn-font-2 {
    font-family: var(--fuente-raleway);
    font-size: 20px;
    font-weight: 700;
}
.text-span-inicio{
    font-family: var(--fuente-poppins);
    font-weight: 800;
    font-size: 52px;
    font-style: normal;
}
/* Tablets */
@media screen and (max-width:993px) and (min-width:576px){
    h1 {
        font-size: 56px;
    }
    .enfasis {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    h3{
        font-size: 40px;
    }
    h4 {
        font-size: 36px;
    }
    h5 {
        font-size: 32px;
    }
    h6{
        font-size: 30px;
    }
    .destacado {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    .body {
        font-size: 18px;
    }
    button {
        font-size: 16px;
    }
    .btn-font-2 {
        font-size: 18px;
    }
    .text-span-inicio{
        font-size: 44px;
    }
}
/* Celulares */
@media screen and (max-width: 576px) { 
    h1 {
        font-size: 48px;
    }
    .enfasis {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
    h3{
        font-size: 36px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 24px;
    }
    h6{
        font-size: 20px;
    }
    .destacado {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .body {
        font-size: 16px;
    }
    button {
        font-size: 14px;
    }
    .btn-font-2 {
        font-size: 16px;
    }
    .text-span-inicio{
        font-size: 40px;
    }
}


